<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pacientes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    {% include 'base.html' %}
    <div class="container mt-5">
        <h1>Lista de Pacientes</h1>
        <a href="{{ url_for('agregar_paciente') }}" class="btn btn-primary mb-3">Agregar Paciente</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Dirección</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for paciente in pacientes %}
                <tr>
                    <td>{{ paciente.id_usuario }}</td>
                    <td>{{ paciente.nombre }}</td>
                    <td>{{ paciente.apellido }}</td>
                    <td>{{ paciente.email }}</td>
                    <td>{{ paciente.telefono }}</td>
                    <td>{{ paciente.direccion }}</td>
                    <td>
                        <a href="{{ url_for('editar_paciente', id_usuario=paciente.id_usuario) }}" class="btn btn-warning">Editar</a>
                        <a href="{{ url_for('eliminar_paciente', id_usuario=paciente.id_usuario) }}" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este paciente?');">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>